  <div class="d-flex justify-content-center w-100 text-center"><h5> Our Events </h5></div>
  <div class="d-flex justify-content-center w-80 text-center">
  <%= form_with url: events_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Type a keyword"
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
    <% end %>
  </div>
  <div class="container mt-5 event-container ">
  <% @events.map do |event|%>
    <div class="card-product">
  <img src=https://as1.ftcdn.net/v2/jpg/06/34/06/70/1000_F_634067056_51zRXramBFcmhtbhnL90ZBxNN8ay7VbK.jpg />
  <div class="card-product-infos">
    <h2><%= event.name%></h2>
    <h6 class="card-subtitle mb-2 text-muted"> <%= event.time %></h6>
    <p class="card-text"><%= event.overview%></p>
    <div class="link-container">
            <a href="#" class="card-link">Reservation</a>
            <a href="<%=establishments_path%>" class="card-link1">Establishment</a>
          </div>
  </div>
</div>
  <% end %>
</div>

